[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
awscli = "*"
#"boto3" = "*"
feedgen = "==0.4.0"
feedparser = "==5.2.1"
python-lambda = "*"
"bs4" = "*"
python-dateutil = "==2.6.0"
fleece = "*"
newspaper3k = "*"

[dev-packages]

[requires]
python_version = "3.6"
