[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
feedgen = "==0.4.0"
feedparser = "==5.2.1"
"bs4" = "*"
python-dateutil = "==2.6.0"
newspaper3k = "*"
boltons = "*"
boto3 = "*"

[dev-packages]
expects = "*"
mamba = "*"

[requires]
python_version = "3.8"
